<h1>KNN(K- Nearest NeghborClassifier)</h1>

<h3>-> Using SKlearn</h3>

In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('Social_Network_Ads.csv')
print(df.shape)
df.head()

(400, 5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df=df.iloc[:,1:]
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [4]:
df['Gender']=df['Gender'].map({'Male':1,'Female':1})

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    int64
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    int64
 3   Purchased        400 non-null    int64
dtypes: int64(4)
memory usage: 12.6 KB

In [6]:
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,:-1],df.iloc[:,-1],test_size=0.2,random_state=0)

In [7]:
scaler=StandardScaler()

In [9]:
X_train_scaled=scaler.fit_transform(X_train.reset_index(drop=True))
X_test_scaled=scaler.transform(X_test)
y_train=y_train.reset_index(drop=True)

In [10]:
scores={}
for i in range(1,16):
    knn=KNeighborsClassifier(n_neighbors=i)

    knn.fit(X_train_scaled,y_train)
    y_pred=knn.predict(X_test_scaled)

    scores[i]=accuracy_score(y_test,y_pred)
result=sorted(scores.items(),key=lambda item:item[1], reverse=True)[0]
print("Best Accuracy =",result[1]," Best n_neighbor =",result[0])

Best Accuracy = 0.95  Best n_neighbor = 3

<h3>-> Own Code</h3>

In [11]:
import numpy as np
from collections import Counter

In [15]:
# class Knn:
#     def __init__(self,n_neighbor=5):
#         self.n_neighbor=n_neighbor
#         self.X_train=None
#         self.y_train=None

#     def fit(self,X_train,y_train):
#         self.X_train=X_train
#         self.y_train=y_train

#     def predict(self,X_test):
#         y_pred=[]
#         for i in X_test:
#             # Calculate distance of each point of X_test with X_train.
#             distances=[]
#             for j in self.X_train:
#                 distances.append(self.calculate_distance(i,j))
#             n_neighbors=sorted(list(enumerate(distances)),key=lambda x:x[1])[0:self.n_neighbor]
#             label=self.majority_count(n_neighbors)
#             y_pred.append(label)
#         return np.array(y_pred)


#     def calculate_distance(self,point_A,point_B):
#         # Calculating euclidean distance formula for reference :- 2D -> d=sqrt(((point_B[0]-point_A[0])**2)+((point_B[1]-point_A[1])**2))
#         return np.linalg.norm(point_A - point_B)

#     def majority_count(self,neighbors):
#         votes=[]
#         for i in neighbors:
#             print(i)
#             votes.append(self.y_train[i[0]])
#         votes=Counter(votes)

#         return votes.most_common()[0][0]
import numpy as np
from collections import Counter

class Knn:

    def __init__(self,k=5):
        self.n_neighbors = k
        self.X_train = None
        self.y_train = None

    def fit(self,X_train,y_train):
        self.X_train = X_train
        self.y_train = y_train

    def predict(self,X_test):

        y_pred = []

        for i in X_test:
            # calculate distance with each training point
            distances = []
            for j in self.X_train:
                distances.append(self.calculate_distance(i,j))
            # print(sorted(list(enumerate(distances)),key=lambda x:x[1]))
            n_neighbors = sorted(list(enumerate(distances)),key=lambda x:x[1])[0:self.n_neighbors]
            label = self.majority_count(n_neighbors)
            y_pred.append(label)
        return np.array(y_pred)


    def calculate_distance(self,point_A,point_B):
        return np.linalg.norm(point_A - point_B)

    def majority_count(self,neighbors):
        votes = []
        for i in neighbors:
            votes.append(self.y_train[i[0]])
        votes = Counter(votes)

        return votes.most_common()[0][0]

In [16]:
myknn=Knn(7)

In [17]:
myknn.fit(X_train_scaled,y_train)
y_pred=myknn.predict(X_test_scaled)
print("Accuracy Score =",accuracy_score(y_test,y_pred))

Accuracy Score = 0.95